@charset "UTF-8";

:root {
  --bgcolor-darkgray:#030303;
  --bgcolor-lightgray:#F7F7F7;
  --bgcolor-bro:#750519;
  --bgcolor-white:#fff;

  --color-white:#fff;
  --color-black:#333;
  --color-bro:#750519;
}

.darkgray { background: var(--bgcolor-darkgray); }


.btn-outline-gray {
  color:var(--color-black);
  transition:0.3s;
}


.content li {
  color:var(--color-white);
  position: relative;
}
.content img {
  position: relative;
}

.content li h1 { font-size:50px; }
.content li p { font-size:18px; }
.content li a { color: var(--color-white); font-size:20px; }

.content .slideView1{
  height:600px;
  background-image: url(../images/main-img01.png);
  background-size:cover;
  background-repeat:no-repeat;
  background-position: center;
}
.content .slideView2{
  height:600px;
  background-image: url(../images/main-img02.png);
  background-size:cover;
  background-repeat:no-repeat;
  background-position: center;
}

.bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: 0 none;
    border: 0 none;
}

.btn-outline-brown {
  color:var(--color-black);
  border-color: #750519;
}
.btn-outline-brown:hover{
  color: #fff;
  background-color: #750519;
  border-color: #750519;
}
.brown {
  color: var(--color-bro)
}
.bg-gray {
  background: var(--bgcolor-lightgray);
}

.stradeumWrap {
  position: relative;
}
.stradeumWrap .stradeum-img {
  width: 100%; height: 1000px;
  position: relative;
  background-image: url(../images/fix-img02.png);
  background-size:cover;
  background-position: center;
  background-attachment:fixed;
  background-repeat: no-repeat;
}
.stradeumView {
  position: absolute;
  width: 100%; color:var(--color-white);
  top: 40%; left: auto;
}

.card { border: none; }
.card-title {
  font-size:20px
}
.card-text {
  color:var(--color-black)
}

.img-view {
  position: relative;
}
.font-wrap {
  position: absolute;
  top: 50%; left: 50%;
  transform:translate(-50%, -50%);
  color:var(--color-white);
  font-size:34px
}


#footer {
  background: var(--bgcolor-darkgray);
}
#footer .row p span {
  margin-left: 10px;
}


.sub_main {
  background: var(--bgcolor-darkgray);
}
.col-white {
  color:var(--color-white);
}
.sub-page {
  background: var(--bgcolor-darkgray);
}

@media screen and ( max-width:776px){
  .sub-page img { width: 100%; }
}
