@charset "utf-8";

/* header */
#headerTop {
  width: 1240px; height: 100px; position: fixed;
  z-index:9999;
  left: 50%; transform:translateX(-50%);top: 20px;
}
#headerTop h1 a { float: left; width: 100px; line-height: 50px; color:#fff; font-size:40px; text-shadow: 0 0 5px #181818; }

#main_menu { float: right; }
#main_menu li { float: left; }
#main_menu li a { display: inline-block; padding:0 20px; line-height: 50px; color:#fff; font-weight:bold; text-shadow: 0 0 5px #181818; }
#main_menu li a:after { content:""; display:block; border-bottom:1px solid #fff; transform:scaleX(0); transition:0.2s ease-in-out; }
#main_menu li a:hover:after { transform:scaleX(1); }


#headerTop .toggleMenu {
  width: 50px; height: 50px; display: none;
  position: absolute;  cursor:pointer;
  display:none; justify-content:center; align-items:center; top: 20px; right: 20px;
}
#headerTop .toggleMenu div {
  width: 30px; height: 3px; left: 50%;
  background: #fff; border-radius: 3px;
  position: absolute;
  transform:translate(-50%); transition:0.3s;
}
#headerTop .toggleMenu .bar1 { top: 12px; }
#headerTop .toggleMenu .bar2 { top: 22px; }
#headerTop .toggleMenu .bar3 { top: 33px; }

#headerTop .toggleMenu.change .bar1 {
  left:50%; top: 50%; transform:translate(-50%, -50%) rotate(-45deg);
}
#headerTop .toggleMenu.change .bar2 { opacity: 0; }
#headerTop .toggleMenu.change .bar3 {
  left:50%; top: 50%; transform:translate(-50%, -50%) rotate(45deg);
}

#headerTop .suv_menu { float:right; }
#headerTop .suv_menu li {
  float:left; width:46px; height:46px;
  border:1px solid #fff; display:flex;
  justify-content:center;align-items: center;
  color:#fff; cursor:pointer;
}
#headerTop .suv_menu .on { background:#fff; color:#191919; }
/* slider */
.slider li img { width: 100%; }
.sliderWrap .bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: 0 none;
    border: none;
    margin-bottom:0;
    position: relative;
}

.sliderWrap li.slider1st, .sliderWrap li.slider2st {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 997px;
}
.sliderWrap li.slider1st { background-image: url(../images/main-img03.jpg); }
.sliderWrap li.slider2st { background-image: url(../images/main-img02.jpg); }
.sliderWrap .slider_txt {
  position: absolute;
  left: 50%; top: 40%; transform:translate(-50%,-50%);
  color:#fff; text-align: center;
}
.sliderWrap .slider_txt h3 { font-size:60px; margin-bottom:30px; }
.sliderWrap .slider_txt p { font-size:20px; }

/* content */
.content { width: 100%; height:1012px; }
.content .contList { width: 1240px; margin: 0 auto; display:flex; flex-wrap:wrap; position: relative; top: -309px; }
.content .contList li { width: 25%; height: 310px; transition:0.3s; }
.content .contList li .youtube { width: 1500px; height: 700px; }
.content .contList li:hover { transform:rotate(1deg); }
.content .contList .ft-w { color:#fff; font-size:18px; text-align: center; padding-top:200px; }
.content .contList h3 { color:#fff; font-size:30px; padding:50px; }
.content .contList h3:after { content:""; display:block; background:#fff; height:1px; margin-top: 15px; width:30px; }
.content .contList>li p:nth-child(2) { color:#fff; font-size:20px; padding-left:50px; }
.content .contList>li:nth-child(2n+1) {background: skyblue; }
.content .contList>li:nth-child(3n+1) {background: pink; }
.content .contList>li:nth-child(2) img { position: absolute; left: 37%; top: 37%; transition:.5s; }
.content .contList>li:nth-child(2):hover img { transform:rotate(360deg) }

.content .contList>li:nth-child(1) { background: #293241 url(../images/vector.png); background-repeat:no-repeat; background-position: 50% 71px; }
.content .contList>li:nth-child(2) { background-image:url(../images/movie.png); background-size:cover; background-repeat:no-repeat; position: relative; }
.content .contList>li:nth-child(2):hover { transition:rotate(1.5px); }
.content .contList>li:nth-child(3) { width: 50%; background-image: url(../images/cont.JPG); background-repeat: no-repeat; background-size: cover; }
.content .contList>li:nth-child(4) { background: #4A4E69 url(../images/Vector-2.png); background-repeat:no-repeat; background-position: 50% 71px; }
.content .contList>li:nth-child(5) { background: #472D30 url(../images/vector-1.png); background-repeat:no-repeat; background-position: 50% 71px; }
.content .contList>li:nth-child(6) { width: 50%; background-image:url(../images/cont01.png); background-repeat:no-repeat; background-size:cover; }
.content .contList>li:nth-child(7) { height: 620px; background-image:url(../images/cont02.png); background-repeat:no-repeat; background-size:cover; }
.content .contList>li:nth-child(8) { width: 50%; background-image:url(../images/cont03.png); background-repeat:no-repeat; background-size:cover; }
.content .contList>li:nth-child(9) { background-image:url(../images/Vector-4.png), url(../images/img000.png); background-size:auto, cover; background-repeat:no-repeat; background-position:50% 71px, 0; }
.content .contList>li:nth-child(10) { position: absolute;  left: 310px; bottom: 0; background: #284B63 url(../images/vector-3.png); background-repeat:no-repeat; background-position: 50% 71px; }
.content .contList>li:nth-child(11) { position: absolute; width: 50%; width: 50%; right: 0; bottom: 0; background-image:url(../images/cont04.png); background-repeat:no-repeat; background-size:cover; }


/* vision */
#vision { width: 100%; height:750px; background-image:url(../images/vision.png); background-size:cover; background-attachment:fixed; background-position:center; color:#fff; margin-bottom: 100px;}
#vision .vWrap { width: 1240px; margin: 0 auto; }
#vision .vWrap h1 { font-size:50px; padding: 100px 0; text-align: center; }
#vision .vWrap li { float:left; width:295px; height: 380px; text-align: center; font-size:18px; padding-top: 20px; transition:0.3s; cursor:pointer;}
#vision .vWrap li + li { margin-left: 20px; }
#vision .vWrap li:hover { box-shadow: 8px 8px 10px rgb(0,0,0,0.5); transform:translate(-10px,-10px); }
#vision .vWrap h3 { font-size:30px; padding:50px 0 40px 0; }
#vision .vWrap .card_body { padding: 20px 40px; }

.partner { width: 100%; margin-bottom: 100px; }
.partner .pWrap { width: 1240px; margin: 0 auto; display:flex; flex-wrap:wrap; position: relative; }
.partner .pWrap li { width: 25%; height: 310px; text-align: center; padding: 0 20px; position: relative; }
.partner .pWrap h3 { font-size:30px; padding-top:194px; padding-bottom:70px; }
.partner .pWrap h4 { font-size:20px; padding-top: 50px; padding-bottom: 30px; font-size: 18px; line-height:33px;}
.partner .pWrap li img { position: absolute; left: 0; width: 100%; height: 100%; transition:.8s; z-index: -1; }
.partner .pWrap li:hover img { transform:scale(1.5) rotate(-3deg); filter: grayscale(0.7);}

.partner .pWrap li:nth-child(1) { font-size:20px; height:620px; line-height:40px; background: #473868 url(../images/partner.png); background-repeat: no-repeat; background-position:50% 84px; color:#fff; }
.partner .pWrap li:nth-child(2) { overflow: hidden;}
.partner .pWrap li:nth-child(3) { background:#EDEDED; position: relative; }
.partner .pWrap li:nth-child(3):after { content:""; top:100%; left:50%; border:solid transparent; width:0; height:0; position:absolute; border-color:rgba(221,221,221,0); border-top-color:#EDEDED; border-width:15px; margin-left:-15px; z-index:1; }
.partner .pWrap li:nth-child(4) { overflow: hidden; }
.partner .pWrap li:nth-child(5) { background:#EDEDED; position: absolute; left: 310px; bottom: 0;z-index: 1;}
.partner .pWrap li:nth-child(5):after { content:"";  position:absolute; bottom:100%; left:50%; border:solid transparent; width:0; height:0; border-color:rgba(221,221,221,0); border-bottom-color:#ededed; border-width: 15px; margin-left: -15px; }
.partner .pWrap li:nth-child(6) { position: absolute; left: 620px; bottom: 0; overflow: hidden;}
.partner .pWrap li:nth-child(7) { background:#EDEDED; position: absolute; right: 0; bottom: 0; }
.partner .pWrap li:nth-child(7):after { content:"";  position:absolute; bottom:100%; left:50%; border:solid transparent; width:0; height:0; border-color:rgba(221,221,221,0); border-bottom-color:#ededed; border-width: 15px; margin-left: -15px; }

.content02 { width: 1240px; margin: 0 auto; margin-bottom: 100px; }
.content02 li { width: 620px; height: 296px; float: left; color:#3B3B3B; position: relative; overflow: hidden;}
.content02 li img { width: 620px; height: 296px; position: absolute; transition:1s; }
.content02 li:hover img { transform:scale(1.1) translateX(20px); }
.content02 h3 { font-size:30px; position: absolute; margin: 50px; }
.content02 h3:after { content:""; display:block; width:258px; height: 3px; background:#3B3B3B; margin-top: 15px; margin-bottom: 30px; }
.content02 p { font-size:20px; position: absolute; margin: 130px  50px; }
.content02 .btn { font-size:15px; color:#14213D; transition:0.5s; border: none; background:#fff; text-align: center; width: 258px; height: 33px; margin-top: 30px; cursor:pointer; position: absolute; margin: 220px 50px; }
.content02 .btn:hover { background:#3B3B3B; color:#fff; }

#footer { width: 100%; height: 315px; background:#181A1E; }
#footer .ft-wrap { width: 1240px; margin: 0 auto; color:#fff; }
#footer .ft-wrap li { width: 500px; float: left; letter-spacing:-2px; }
#footer .ft-wrap h1 { padding-top: 30px; padding-bottom: 30px;  }
#footer .ft-wrap p { font-size:20px; }
#footer .ft-wrap li:first-child { background-image: url(../images/footer-logo.png); background-position: 0 0; background-repeat:no-repeat; padding-top: 110px; margin-right: 128px; }


/* submenu */
.Sub-img { width: 100%; height: 400px; }
.Sub-img img { width: 100%; height: 100%; position: relative; }
.Sub-img h1 { position: absolute; color:#fff; font-size:50px; top: 150px; left: 50%; z-index: 1; transform:translate(-50%) }

.Sub-container { width: 100%; }
.Sub-container .Sub-content { width: 100%; margin: 0 auto; }
.Sub-container .Sub-content .img-company { width: 100%; height: 2000px; background-image: url(../images/회사소개.png); background-position: center; background-repeat: no-repeat;}
.Sub-container .Sub-content h1 { text-align: center; color:#4A4A4A; font-size:40px; margin: 80px 0 30px 0 }
.Sub-container .Sub-content h2 { text-align: center; color:#4A4A4A; font-size:20px; margin-bottom: 50px; }

.Sub-container .Sub-content h1 { width:100%; font-size:25px; margin-top: 30px; }

/* company */
.Sub-container .Sub-content .img-company01 { width: 100%; height: 2000px; background-image: url(../images/회사소개.png); background-position: center; background-repeat: no-repeat; }

/* rental */
.Sub-container .Sub-content .img-company02 { width: 100%; height: 3000px; background-image: url(../images/음향.png); background-position: center; background-repeat: no-repeat; }

/* portfolio */
.Sub-container .Sub-content .img-company03 { width: 100%; height: 4300px; background-image: url(../images/윅스뉴스01.png); background-position: center; background-repeat: no-repeat; }

/* news */
.Sub-container .Sub-content .img-company04 { width: 100%; height: 4750px; background-image: url(../images/윅스뉴스02.png); background-position: center; background-repeat: no-repeat; }

/* partner */
.Sub-container .Sub-content .img-company05 { width: 100%; height: 500px; background-image: url(../images/파트너.png); background-position: center; background-repeat: no-repeat; }

/* inquiry */
.Sub-container .Sub-content .img-company06 { width: 100%; height: 650px; background-image: url(../images/렌탈.png); background-position: center; background-repeat: no-repeat; }
