@charset "utf-8";

/*common css*/
.tac{text-align: center !important;}

/*padding top*/
.pt20{padding-top: 20px !important;}

/*padding bottom*/
.pb20{padding-bottom:20px !important;}

/*margin bottom*/
.mb5{margin-bottom: 5px !important;}
.mb10{margin-bottom: 10px !important;}
.mb15{margin-bottom: 15px !important;}
.mb20{margin-bottom: 20px !important;}

.h2line:after{
	content:"";display: block;width: 200px;height: 1px;
	background:#000;margin: 10px auto;
}